<!doctype html>
<html>
<head>
  <title>Python WAPI for BigQuery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js" integrity="sha256-PX9zWVaICUCeklczWaS9DLBb9uGN7pCkCT0Kyz1elRo=" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <h1>Python WAPI for BigQuery</h1>
    <h2>Special Admin Console</h2>
    <h3>v{{ version }} {{ time_started }}</h3>
    <h3>{{ times_accessed }} times accessed!</h3>
    <div style="max-width:300px">
      <fieldset id="results">
        <legend>Results</legend>
        <pre style="margin: 0;" id="output">Results will go here</pre>
      </fieldset>
      <fieldset>
        <legend>Delete Booking Reference</legend>
        <form id="delete-csv">
          <input id="id" type="text">
          <button id="submit" type="button" value="Submit">Submit</button>
        </form>
      </fieldset>
      <fieldset id="list-csv">
        <legend>List of CSV</legend>
        <ul id="csvs" style="margin: 0;"></ul>
        <button id="submit" type="button" value="Submit">Update</button>
      </fieldset>
    </div>
  </main>
  <script>
    $(document).ready(function() {
      $("form#delete-csv button#submit").click(function(e) {
        var data = $("form#delete-csv input#id").val();

        console.log("DELETEing with", data);

        $.ajax({
          type: "DELETE",
          url: "/api/v1.0/csv/" + data,
          timeout: 30000, // 30 seconds timeout
          success: function(json){
            $("fieldset#results #output").text(json)
          },
          error: function(json){
            $("fieldset#results #output").text(json)
          },
        });

        e.preventDefault();
        return false
      });
    });

    $(document).ready(function() {
      $("#list-csv button#submit").click(function(e) {
        console.log("GETing with no data");

        $.ajax({
          type: "GET",
          url: "/api/v1.0/csv/",
          timeout: 30000, // 30 seconds timeout
          success: function(json){
            $("fieldset#list-csv ul").empty()
            json = JSON.parse(json)

            json.forEach(function(v,i,a) {
              $("fieldset#list-csv ul").append("<li>" + v + "</li>")
            });

            $("fieldset#list-csv ul li").click(function() {
              $("form#delete-csv input#id").val($(this).text());
            });
          },
          error: function(json){
            $("fieldset#results #output").text(json)
          },
        });

        e.preventDefault();
        return false
      });
    });
  </script>
</body>
</html>
