<!doctype html>
<html>
<head>
  <title>Google Analytics Customer Journey Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js" integrity="sha256-PX9zWVaICUCeklczWaS9DLBb9uGN7pCkCT0Kyz1elRo=" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <h1>Google Analytics Customer Journey Details</h1>
    <form id="booking">
      Booking Reference/GA Cookie ID/<abbr title="Session ID from Custom Dimension 19">Session ID</abbr>: <input id="booking_reference" type="text" data-bind="value:TransactionID, valueUpdate:'keyup'"> <!-- ko if:!ValidationTransactionID() --><span style="color: red; font-weight:bold">!</span><!-- /ko --><br>
      Date: <input id="date" type="date" data-bind="value:Date, attr: {max: MaxDate}"> <!-- ko if:!ValidationDate() --><span style="color: red; font-weight:bold">!</span><!-- /ko --><br>
      Webjet/Zuji: <select id="brand" data-bind="value:Brand"><option>Webjet</option><option>Zuji</option></select><br>
      <hr>
      <button id="submit" type="button" value="Submit" data-bind="enable: isValid">Submit</button>
      <span data-bind="visible: isValid">Fields are <span style="color: green">valid!</span></span>
    </form>
    <span id="message"></span><br>
    <span id="error" style="color:red"></span>
    <img id="loading-ring" src="static/img/ring-loading.gif" hidden><br>
    <span data-bind="text: JSON.stringify(Data(), null, '\t')"></span>
  </main>
  <script>
    // CONFIGURATIONS //
    QUERY_URL = "http://172.28.118.2/api/v1.0/query"
    // CONFIGURATIONS //

    function ViewModel() {
      var self = this;

      var today = new Date().toISOString().slice(0,10);

      self.TransactionID = ko.observable("");
      self.Date = ko.observable(today);
      self.MaxDate = ko.observable(today);
      self.Brand = ko.observable("Webjet");

      self.ValidationTransactionID = ko.pureComputed(function() {
        var check = self.TransactionID();
        return (check != "" && check != undefined)
      });

      self.ValidationDate = ko.pureComputed(function() {
        var check = self.Date();
        return (check != "" && check != undefined && check <= self.MaxDate())
      });

      self.isValid = ko.pureComputed(function() {
        return (self.ValidationTransactionID() && self.ValidationDate());
      });

      self.Data = ko.pureComputed(function() {
        return {
          'transactionId': self.TransactionID().trim(),
          'date': self.Date().replace(/-/g, ''),
          'brand': self.Brand()
        }
      });
    }

    var VM = new ViewModel();
    ko.applyBindings(VM);

    $(document).ready(function() {
      $("button#submit").click(function(e) {
        var data = VM.Data();

        console.log("POSTing with", data)

        data = JSON.stringify(data)

        $.ajax({
          accept: "text/csv",
          beforeSend: function(xhrObj){
            xhrObj.setRequestHeader("Content-Type","application/json");
            xhrObj.setRequestHeader("Accept","application/json");

            $("button#submit").prop('disabled', true);
            $("#loading-ring").show();
            $("#error").text("");
            $("#message").text("");
          },
          type: "POST",
          url: QUERY_URL,
          data: data,
          dataType: "json",
          timeout: 30000, // 30 seconds timeout
          success: function(json){
            console.log("Response is", json);

            if (json.status) {
              $("#message").html(json.status + ": " + json.message)
            }

            if (json.redirect) {
              window.location.href = json.redirect;
            }
          },
          error: function(json){
            var response = json.responseJSON;
            console.log("Repsonse is ", json)

            if (response && response.redirect) {
              window.location.href = response.redirect
              console.log("Redirect to", response.redirect, "from", json);
            } else {
              console.log("Error occurred with", json);
              json.time = new Date().toTimeString();
              json.data = JSON.parse(data)
              $("#error").html(new Date().toTimeString() + ": There was an error processing your query. Please try again, and if there still is issues feel free to contact <a href='mailto:analytics@webjet.com.au?subject=Google Analytics Customer Journey Details Issues&body=Dear Analytics, there was an issue with the Python Web API and this is some information available:%0D%0A%0D%0A" + JSON.stringify(json) + "%0D%0A%0D%0AIf you have any other information you would like to include, please feel free to include it!%0D%0A%0D%0AThank you!'>analytics@webjet.com.au</a>")
            }

            $("#loading-ring").hide();
          },
          complete: function() {
            $("#loading-ring").hide();
            $("button#submit").prop('disabled', false);
          }
        });

        e.preventDefault();
        return false
      });
    });
  </script>
</body>
</html>
