@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ADMIN PORTAL</h2>
    <p class="lead">Admin Portal is a new site, that will replace(or wrap) TSA Admin, Flight Search and other similar functionality, and is used by internal users-service centre, product team etc.</p>
    
   @*@User.Identity.AuthenticationType.ToString() <br />
   @User.Identity.Name <br/>*@

  
  <br/>

@if (Request.IsAuthenticated)
{
    @*string[] r = Roles.GetRolesForUser();
    string s = string.Join(",", r.ToList());
    <h1>@s</h1>*@


    @*var ServiceCenter = User.IsInRole("ServiceCenter");
    @ServiceCenter;


    var Analytics =User.IsInRole("Analytics");
    @Analytics;

    var ServiceCenterManager = User.IsInRole("ServiceCenterManager");
    @ServiceCenterManager;

    var ProductTeam = User.IsInRole("ProductTeam");
    @ProductTeam;*@
   
}

    @if (User.IsInRole("Admin") || User.IsInRole("Analytics") || User.IsInRole("ServiceCenterManager") || User.IsInRole("ServiceCenter"))
        {
        <p>@Html.ActionLink("Google BigQuery Itinerary View", "Index", "GoogleBigQueryItinerary")</p>
    }
    <p><a href="http://local.webjet.com.au/WebjetTsa/secure.aspx" class="btn btn-primary btn-large">Visit existing DEV TSA Admin &raquo;</a></p>
</div>