#If applicable, consider to copy different files from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
*.user
*.suo
[Bb]in/
[Oo]bj/
setup
**/bin
[Pp]ackages
**/*.psproj
**/*.bak
# do not ignore gitignore http://stackoverflow.com/questions/767147/ignore-the-gitignore-file-itself/767213#767213
#.gitignore
#**/.gitignore
Output
Binaries
/.vs/config

# MSTest test Results
[Tt]est[Rr]esult*/

# Visual Studio 2015 cache/options directory
.vs/

# Microsoft Fakes
FakesAssemblies/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

node_modules/

# Dodo.exe extracts the files
Deployment/DODO