#If applicable, consider to copy different files from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
*.user
*.suo
[Bb]in/
[Oo]bj/
setup
**/bin
[Pp]ackages
**/*.psproj
# do not ignore gitignore http://stackoverflow.com/questions/767147/ignore-the-gitignore-file-itself/767213#767213
#.gitignore
#**/.gitignore
Output
Binaries
/.vs/config

# MSTest test Results
[Tt]est[Rr]esult*/

# Visual Studio 2015 cache/options directory
.vs/

# Microsoft Fakes
FakesAssemblies/

#http://stackoverflow.com/questions/38448468/should-project-lock-json-file-be-checked-into-source-control-asp-net-core-1-0
**/project.lock.json

node_modules/

# Dodo.exe extracts the files
Deployment/DODO