@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Error";
}


    <h1 class="text-danger">Forbidden.</h1>
    <h2 class="text-danger">Sorry! You are not authenticated for requested page</h2>

