@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Error";
}


    <h1 class="text-danger">Page Not Found</h1>
    <h2 class="text-danger">Sorry! Requested page does not exists. Please check url</h2>

