@{
    ViewBag.Title = "Error Page";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h4 style="color:black">@ViewBag.ErrorMessage.</h4>