<html>
<body bgcolor="#FFFF00">
<P align="center">
    <table cellspacing="1" cellpadding="1" >
		<tr>
			<td width="100%"  colspan="2" align="left"><font color="red"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RANDOM NUMBERS GENERATOR</b></font></td>
		</tr>
		<tr>
			<td width="100%"  colspan="2" ><b>&nbsp;</b></td>
		</tr>
		<tr>
			<td class="Webjet_Form_Label"><b>Start number:</b></td>
			<td class="Webjet_Form_Label" align="left"><input type="text" value="1" name="numberFrom"></td>
			
		</tr>
		<tr>
			<td class="Webjet_Form_Label"><b>End number:</b></td>
			<td class="Webjet_Form_Label" align="left"><input type="text" value="20000" name="numberTo"></td>
			
		</tr>
		<tr>
			<td width="100%"  colspan="2" ><b>&nbsp;</b></td>
		</tr>
		<tr>
			<td class="Webjet_Form_Label" align="left" colspan="2"><img name="searchImage" src="execute.gif" onclick="javascript:randomNumberInRange()"></td>
		</tr>
		<tr>
			<td width="100%"  colspan="2" ><b>&nbsp;</b></td>
		</tr>
	    <tr>
			
			<td  align="left" colspan="2"><input type="text" value="" name="Result" readonly="readonly"  style="border: none; color: #CC0000; background: red;  font: bold x-large; text-align: center"></td>
			
		</tr>
		
	</table>
 </P> 
   

<script language='javascript'>

function randomNumberInRange() 
{ 
    
    var low = eval(document.all.numberFrom.value);
    var high= eval(document.all.numberTo.value);
    
    document.all.Result.value=Math.floor((high - low + 1) * Math.random() + low);
}

</script>
</body>
<html>
