@{
    ViewBag.Title = "Analytics Page";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("Writer") || User.IsInRole("Approver"))
    {
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Views/AnalyticsScripts/GoogleBigQueryItinerary.html")))
    }
    if (User.IsInRole("Observer"))
    {
        <div class="jumbotron">
            <p class="lead">Sorry!! you do not have access permission. Please contact Administrator for Service Centre role grant.</p>
        </div>
    }
}
else
{
    <div class="jumbotron">
        @Html.Action("SignIn", "Account", new { redirectUri = ViewBag.RedirectUri })
       @*<p class="lead">Please Sign In.</p>*@
    </div>
}


