<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT errorPage ANY>
<!ATTLIST errorPage id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1094" key="c66446ea-206a-40d7-85aa-481cf716eed2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-28T15:01:22" updateDate="2016-11-28T15:35:18" nodeName="Home" urlName="home" path="-1,1094" isDoc="" nodeType="1093" creatorName="kajal bhatia" writerName="kajal bhatia" writerID="0" template="1092" nodeTypeAlias="homePage">
    <siteTitle><![CDATA[Admin Portal]]></siteTitle>
    <siteLogo><![CDATA[/media/1001/logo.jpg]]></siteLogo>
    <siteName><![CDATA[Webjet]]></siteName>
    <description><![CDATA[<p>Welcome to Admin Portal!!</p>
<p> </p>
<p>Please <a href="https://login.microsoftonline.com" title="MS Azure Active Directory">Sign-in</a> or <a data-id="1105" href="/{localLink:1105}" title="Register Page">Register</a>.</p>]]></description>
  </homePage>
  <register id="1105" key="efc64e45-84c9-4cd7-aec7-711e8adfaf10" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-11-28T15:34:36" updateDate="2016-11-28T15:34:36" nodeName="Register Page" urlName="register-page" path="-1,1105" isDoc="" nodeType="1101" creatorName="kajal bhatia" writerName="kajal bhatia" writerID="0" template="1100" nodeTypeAlias="register">
    <siteTitle><![CDATA[Register]]></siteTitle>
    <siteName><![CDATA[Webjet]]></siteName>
    <messageBox><![CDATA[Welcome to Registration !!!]]></messageBox>
  </register>
  <errorPage id="1113" key="1176b816-df93-4fe5-ad5b-644403e4f076" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-11-28T16:16:24" updateDate="2016-11-28T16:16:24" nodeName="Error Page" urlName="error-page" path="-1,1113" isDoc="" nodeType="1112" creatorName="kajal bhatia" writerName="kajal bhatia" writerID="0" template="1111" nodeTypeAlias="errorPage">
    <siteTitle><![CDATA[Unuthorised User]]></siteTitle>
    <siteName><![CDATA[Webjet]]></siteName>
    <errorMessage><![CDATA[Sorry!!  You are not authorized for requested page - Register ME !!!]]></errorMessage>
  </errorPage>
</root>