@using System.Reflection;
@using AdminPortal.BusinessServices.Common;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Version @AssemblyInformation.ExecutingAssemblyVersion created at @AssemblyInformation.CompileDate</p>
