@if (Request.IsAuthenticated)
{
    <ul class="nav-items">
        <li class="username">
            <a href="#">Welcome, @User.Identity.Name </a>
            @*@Html.ActionLink("Welcome, " + User.Identity.Name, "Index", "UserProfile", routeValues: null, htmlAttributes: new {title = "User Profile"})*@
        </li>
        <li>
            @Html.ActionLink("Log Out", "SignOut", "Account", routeValues: null, htmlAttributes: new { title = "Log Out" })
        </li>
    </ul>
}
else
{
    <ul class="nav-items">
        <li>
            @Html.ActionLink("Log In", "SignIn", "Account", routeValues: null, htmlAttributes: new { title = "Log In" })
        </li>
    </ul>
}
