table {
  background-color:grey;
  border-collapse:collapse;
}
table th {
  background-color:#999;
  padding: 4px 5px;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  text-align: left;
}
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}
table tr:hover td, tr.highlight {
  background-color: bisque;
}
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
table td {
  padding: 3px 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  vertical-align: top;
  white-space: nowrap;
}
table td:nth-child(9),
table td:nth-child(10),
table td:nth-child(11),
table td:nth-child(24){
  white-space: normal;
  min-width: 300px;
}
