<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Webjet" value="http://wj-buildfeed-01.cloudapp.net:82/api/odata/" />
	<add key="local" value="LocalNugetFeed"/>
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
   <!-- NOT WORKING 
   <config>
    <add key="repositoryPath" value="$\..\Packages" />
  </config> -->
  
  <!-- <add key="local" value="c:\LocalPackages"/> -->
</configuration>